h2{
    font-family: 'Raleway', sans-serif;
}

.outter-border.left{
    max-width: 67%;
    float: left;
}

.outter-border.right{
    max-width: 33%;
    float: left;
}

.card {
    box-shadow: 1px 4px 20px 5px rgba(0, 0, 0, 0.15);
    text-align: left;
    margin: 20px;
}

.card h2{
    font-size: 32px;
    margin: 0;
}

.card .date{
    text-align: right;
    margin: 0;
}

.container {
    padding: 20 16px 16px;
}

.profile-card{
    box-shadow: 1px 4px 20px 5px rgba(0, 0, 0, 0.15);
    text-align: left;
    margin: 20px;
}

.tag{
    box-shadow: 1px 4px 20px 5px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

.tag h2{
    background-color: #E0E0E0;
    padding: 10px;
    margin: 0;
}

.tag-desc{
    padding: 20px 20px;
}

button {
    display: inline-block;
    padding: 4px 8px;
    font-size: 14px;
    color: white;
    font-family: arial;
    background-color: #212121;
	border: 0;
}

button:hover {
    cursor: pointer;
	background-color: #424242;
}


